<div class="span12">
  <ul>
    <h1>Are you sure?</h1>
    <form action="/products/<%= @id %>/delete" method="post">
      <button class = "back btn btn-danger">Yes</button>      
    </form>
    <a class = "back btn" href="/">Home</a></li>
  </ul>
</div>


