<div class="row">
  <div class="home">
    <h1 class="store_name">Panda Outpost</h1>
    <p></p>
    <p></p>
    <a class = "homeusers" href="/users">Users</a>
    <a class = "homeproducts" href="/products">Products</a>
  </div>
<div class="row">
  <img class= "panda" src="https://lh4.googleusercontent.com/-foioFMdHQbw/UV54jVq2BQI/AAAAAAAAAO8/yBui8L14zKQ/s860/399618_406232742765079_434225307_n.jpg">      
</div>

