<div class="span12">
  <ul>
    <h1>New Product</h1>
    <form action="/product/new" method="post">
      <label for="product_name">Product Name</label>
      <input type="text" name="product_name">
      <label for="product_price">Product Price</label>
      <input type="text" name="product_price">
      <p></p>
      <input type="checkbox" class="checkbox" name="on_sale" value="t">Sale Item
      <p></p>
      <button class = "back btn">Save</button>
    </form>
  </ul>
</div>