<div class="span12">
  <ul>
    <h1>Success!</h1>
    <p class="complete">The changes have been completed</p>
    <a class="back btn" href="/product/new">New Product</a>
    <p></p>
    <a class="back btn" href="/">Home</a>
  </ul>
</div>